<html dir="rtl" lang="fa-IR">

@model List<Question>


    @{
        ViewData["Title"] = "آزمون";

    }

    <img src="~/css/decoration-star.svg" alt="" class="decorate-star position-absolute" />


    <h1 style="color:brown">@ViewData["Title"]</h1>
    <hr />


    @{
        ViewData["Title"] = "آزمون";
    }
    <div asp-validation-summary="All" class="text">

        <form method="post" class="border" asp-controller="Quiz" asp-action="QuizResult">
            @Html.AntiForgeryToken()

            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="mb-1">
                    <p>@(i + 1). @Model[i].QuestionText</p>
                    <div class="row">
                        @for (int j = 0; j < Model[i].AnswerOptions.Count; j++)
                        {
                            <input type="radio" id="q@(i + 1)-@(j + 1)" name="Answer@(i + 1)" value="@(j + 1)" />
                            <label class="mb-1" for="q@(i + 1)-@(j + 1)">@(j + 1). @Model[i].AnswerOptions[j]</label>
                        }
                    </div>
                </div>
            }
            <div class="mb-2">
                <input type="submit" value="ثبت" class="submit p-2 " />
            </div>

        </form>
    </div>
</html>